modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
AUTH_SECRET = "hoUP6T9X7S9mp7hI8qwbywpHJ20GzUijusWk2jgcZEE="

[userenv.development]
AUTH_URL = "https://8d4e9df4-68c9-480a-bcc7-d296844668fb-00-2wsho2cyi1vu5.spock.replit.dev"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run"]
build = ["bash", "-c", "npx prisma generate && npx prisma db push --skip-generate && next build"]
publicDir = "public"
